asgiref==3.6.0
Django==3.0
entrypoints==0.3
exceptiongroup==1.1.1
flake8==3.7.0
iniconfig==2.0.0
mccabe==0.6.1
packaging==23.1
pluggy==1.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==7.3.1
pytest-django==3.9.0
pytz==2023.3
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
